{% extends 'bookapp/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'bookapp/style.css'%}">
{% endblock head %}

{% block title %}d4nk b00k4pp{% endblock title %}

{% block content %}
<div class="main">
    <div class="columns is-centered">
        <div class="column is-half">
            <h3 class="is-size-4" data-test="warn">
                You can search for books right on the search bar!
            </h3>
            <div class="books">
            </div>
        </div>
        <div class="column has-background-link">
            <div class="container">
                <h1 class="title">Search your favorite books!</h1>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Search" data-test="search" onkeyup="handleFetch(event)">
                    </div>
                </div>
            </div>
        </div>
        <div class="column has-background-grey-light">
            <div class="container">
                <h1 class="title">Book hall of fame</h1>
                <div class="books_hof">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bookapp/main.js'%}"></script>
{% endblock content %}
