{% extends 'bookapp/base.html' %}
{% block head %}{% endblock head %}

{% block title %}se4rch ze 1nterw3bz{% endblock title %}

{% block content %}
    <div>
        <h1>search</h1>
    </div>
{% endblock content %}
