html,
body{
    height: 100%;
}

body > .main,
.main > .columns {
    height: 100%;
}

.book {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.book button {
    align-self: center;
}
